.header__lang-link {
    color: white;
    font-size: 24px;
    font-size: normal;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0;
    text-decoration: none;
    margin-right: 18px;
}

.header__lang-link:last-child {
    margin-right: 0;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px){
    .header__lang-link {
        font-size: 18px;
    }
}