.places__place {    
    color: white;
    display: grid;
    grid-template-columns: minmax(400px, 460px) minmax(400px, 1fr);
    gap: 48px 40px; 
    margin-bottom: 80px;
}

.places__place:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
    .places__place {
        grid-template-columns: minmax(320px, 440px) minmax(350px, 1fr);
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .places__place {
        grid-template-columns: minmax(220px, 440px) minmax(300px, 1fr);
        gap: 48px 28px;
    }
}

@media screen and (max-width: 600px) {
    .places__place {
        display: flex;
        flex-wrap: wrap;
        gap: 28px 20px;
    }
}


@media screen and (max-width: 320px) {
    .places__place {
        gap: 0 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px; 
    }
}
