.footer {
    max-width: 1184px;
    display: flex;
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
    justify-content: space-between;
    color: white;
}

@media screen and (max-width: 1024px){
    .footer {
        max-width: 928px; 
    }
}

@media screen and (max-width: 768px){
    .footer {
        max-width: 720px; 
        margin: 88px 24px 0px 24px;
    }
}
@media screen and (max-width: 320px){
    .footer {
        min-width: 186px;
        margin: 64px 16px 0 16px;
        flex-direction: column;
    }
}

